@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.md-h1 {
	font-size: 20px;
	font-weight: bold;
	margin-top: 40px;
	margin-bottom: 20px;
}

.md-h2 {
	font-size: 18px;
	font-weight: bold;
	margin-top: 30px;
	margin-bottom: 10px;
}

.md-h3 {
	font-size: 14px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 10px;
}

.green {
	color: green;
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 10px;
}

.md-ul {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
	list-style-type: disc;
}

.md-ol {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
	list-style-type: decimal;
}

.md-p {
	margin-top: 15px;
	margin-bottom: 15px;
}

.md-img {
	width: 20rem;
	border-radius: 10px;
}
